{% extends "layout.html" %}
{% block content %}    
    <div class="inleft">
        
       {% from "_formhelpers.html" import render_field %}
       <form method="post" class="inline_class">
          <div style="display: inline">
            {{ render_field(form.select,cls="inline_class") }}
          </div>    
        <div class="inline_class">
            {{ render_field(form.search,cls="inline_class", placeholder='Search By Name...') }}
        </div>
        <div class="inline_class">
          <button type="submit" class="btn-xs btn-warning"><i class="fas fa-search fa-xl"></i></button>
        </div>
       </form>
    </div>

{% endblock content %}