{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
    <div class="content-section">      
        <form method="POST" action="" enctype="multipart/form-data" id="movie_form">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Add Movie</legend>
                
                <div class="form-group">
                    {{ form.movie_name.label(class="form-control-label") }}
                    {% if form.movie_name.errors %}
                        {{ form.movie_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.movie_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.movie_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.director_name.label(class="form-control-label") }}
                    {% if form.director_name.errors %}
                        {{ form.director_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.director_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.director_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>   
                <div class="form-group">
                    {{ form.imdb_score.label(class="form-control-label") }}
                    {% if form.imdb_score.errors %}
                        {{ form.imdb_score(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.imdb_score.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.imdb_score(class="form-control form-control-lg") }}
                    {% endif %}
                </div>  
                <div class="form-group">
                    {{ form.popularity.label(class="form-control-label") }}
                    {% if form.popularity.errors %}
                        {{ form.popularity(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.popularity.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.popularity(class="form-control form-control-lg") }}
                    {% endif %}
                </div>  
                <div class="form-group">
                    {{ wtf.form_field(form.genre, placeholder='Adventure, Family, Fantasy, Musical') }}                    
                </div>               
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
{% endblock content %}








